.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img{
  max-width: 250px;
  min-width: 150px;
  max-height: 250px;
  min-height: 200px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.photoList {
  display: inline-flex;
}

.galleryCaption {
  color: white;
  background-color: #222;
  margin-right: 20px;
}

html {
  background-color: rgba(50,50,50,0.8)
}